/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
  
.index {
	padding-right: none;
}

a.article_title {
	color: black;
	text-decoration: none;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-family: equity_text_b;
  font-size: 1.3em;
  line-height: 1.35;
  background-color: blue !important;
  background: linear-gradient(#e86e30, #e86e30, #fff, #fff);
}

body {
  background: #fff;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
svg,
video {
    vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100vh;
  
  display:block;
  margin: auto;
}

figcaption {
  margin-top: 1em;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.signup {
  background: hsla(20, 80%, 55%, 1);
  padding-top: 0.62em;
}

.signup_footer {
	margin-top: 3em;
}

form.form-inline {
  display: flex;
  overflow: scroll;
}

input[type=email] {
  max-width: 48%;
  flex: 1;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

input[type=text] {
  max-width: 15%;
  flex: 1;  
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

input[type=email], input[type=text] {
  max-width: 30%;
  padding: 0.6em 0.94em;
  border: none;
  border-right: 2px solid hsla(20, 80%, 55%, 1);
  background: hsla(0, 0%, 100%, 0.85);
  color: hsla(20, 80%, 28%, 1);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

input[type=text]:focus {
  max-width: 60%;
}

input[type=email]:focus {
  max-width: 60%;
}

input[type=email]:focus, input[type=text]:focus {
  border: none;
  border-right: 2px solid hsla(20, 80%, 55%, 1);
  outline-width: 0;
  outline: none;
  background: hsla(0, 0%, 100%, 1);
}

input[type=submit] {
  flex: 0;
  min-width: 50px;
  padding: 1% 3%;
  border: none;
  background: #fff;
  color: hsla(20, 80%, 28%, 1);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

input[type=submit].md {
	display: block;
	flex: 1 1 auto;
}

input[type=submit].lg {
	display: none;
}


 /* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Initialize fonts
}
 */

@font-face {
  font-family: "equity_text_a";
  src: url("typography/equity_text_a_regular.woff") format('woff');
}

@font-face {
  font-family: "equity_caps_a";
  src: url("typography/equity_caps_a_regular.woff") format('woff');
}

@font-face {
  font-family: "equity_text_a";
  src: url("typography/equity_text_a_italic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: "equity_caps_a_tab";
  src: url("typography/equity_text_a_tab_regular.woff") format('woff');
}

@font-face {
  font-family: "equity_text_b";
  src: url("typography/equity_text_b_regular.woff") format('woff');
}

@font-face {
  font-family: "equity_caps_b";
  src: url("typography/equity_caps_b_regular.woff") format('woff');
}

@font-face {
  font-family: "equity_text_b";
  src: url("typography/equity_text_b_italic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: "equity_caps_b_tab";
  src: url("typography/equity_text_b_tab_regular.woff") format('woff');
}

@font-face {
  font-family: "concourse_caps";
  src: url("typography/concourse_c4_regular.woff") format('woff');
}

@font-face {
  font-family: "concourse";
  src: url("typography/concourse_t3_regular.woff") format('woff');
}
/*
 * Implement fonts
 */

.smallcaps {
  font-family: equity_caps_b;
  text-transform: lowercase;
}

.index {
  font-family: equity_caps_b_tab;
  text-transform: lowercase;
  padding-right: 0.37em;
  color: #888;
  height: 100%;
}

.logo, a.logo, a.logo:visited {
  color: hsla(20, 80%, 28%, 1);
  text-decoration: none;
}

.eu_icon {
  width: 2.5em;
  height: 2.5em;
  display: inline;
  float: left;
  padding: 0.13em 0.87em 0.5em 0em;
}

.back {
  margin-bottom: 2em;
}

p.footer {
  color: hsla(20, 80%, 95%, 1);
  font-size: 0.87em;
  -webkit-margin-before: 0em;
  max-width: 71ch;
}

.single {
  padding-top: 1em;
}

a.article_title {
  color: black;
  text-decoration: none;
}

a.article_title.unpublished, a.article_title.unpublished:hover, a.article_title.unpublished:visited {
  color: #888;
  text-decoration: none;
  cursor: not-allowed;
}

a.article_title:visited {
  color: #ac41f4;
  text-decoration: none;
}

a.footer_link, a.footer_link:hover {
	color: hsla(20, 80%, 95%, 1);
	text-decoration: underline;
}

a.footer_link:hover {
	color: hsla(20, 80%, 100%, 1);
	text-decoration: underline;
}


/*
 * Font Size, Kerning, Leading, Padding
 */
 

h1 { /* Main Title */
  font-size: 2em;
  line-height: 1;
  font-weight: normal;
  font-family: equity_text_b;
  -webkit-margin-before: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

h2 { /* Article Titles */
  font-size: 1.7em;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: normal;
  font-family: equity_text_a;
}

h2.article_title_list {
	margin-top: -0.8em;
}

h3 { /* Titles in Articles */
  font-size: 1.23em;
  line-height: 1;
  font-weight: normal;
}

h4 { /* Date under Article Title */
  font-size: 0.7em;
  line-height: 1;
  font-family: concourse_caps;
  text-transform: uppercase;
  font-weight: normal;
  color: #888;
  margin-top: -1.5em;
}

h4.ppp {
	margin-top: 1em;
	margin-bottom: -1em;
}

h5 { /* figcaption */
  margin-top: -0.7em;
  font-size: 0.7em;
  line-height: 1;
  color: #999;
  padding: 0.4em auto;
  text-align: center;
  font-family: concourse;
  font-weight: normal;
}

h6 { /* source title in paragraph */
	text-align: left;
	font-size: 0.92em;
	line-height: 1.2;
	font-family: concourse;
  font-weight: normal;
}

mark {
	background-color: #ffe6db;
}

li.article_title {
  margin-bottom: 0.7em;
}

blockquote {
  border-left: 4px solid #eee;
  color: hsla(20, 80%, 28%, 1);
  padding: 0em 0.7em;
  margin: 0em;
  font-size: 1.1em;
  line-height: 1.38;
  max-width: 50ch;
}

sup i {
	padding-left: 0.2em;
	text-decoration: none;
}

.footnote {
  color: blue;
  text-decoration: none;
	vertical-align: super;
	font-size: 0.8em;
	font-family: concourse_caps;
	line-height: 0em;
}

.footnotes p {
	font-size: 0.8em;
	max-width: none;
}

.sidenote-right {
  right: 0;
  left: auto;
  margin-right: -10em;
  width: 9em;
  float: right;
  color: #777;
  font-size: smaller;
}

.sidenote-left {
  right: auto;
  left: 0;
  margin-left: -12em;
  width: 9em;
  float: left;
  color: #777;
  font-size: smaller;
}

li {
  margin-bottom: 1em;
}


/*
 * List Styles
 */

ul {
  list-style: none;
  -webkit-padding-start: 0px;
}

ol {
  -webkit-padding-start: 1.2em; /* indent text, use 0 for left-offset numbers, original 1.2em */
}

/*
 * Table Styles
 */

table {
	overflow: scroll;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

th {
	text-transform: none;
	font-size: 1.1em;
}

td, th {
	text-align: left;
	padding: 0.5em;
	width: 33%;
	border: 3px solid white;
}

tr:nth-child(even) {
	background-color: #fbfbfb;
}

tr:nth-child(odd) {
	background-color: #f1f1f1;
}

ul ul {
	padding-left: 1em;	
	border-left: 4px solid #eee;}

ol ol {
	list-style-type: lower-alpha;
}

ol ol li:not(:last-child) {
	margin-bottom: 0em;
}


 /* ==========================================================================
   Helper classes
   ========================================================================== */

section {
	padding: 0.6em;
	margin: auto;
}

section:first-child {
	padding-top: 0em;
}

section.last {
	padding-bottom: 2em;
}

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {

  html {
    font-size: 1.42em;
  }
  
  .inline {
    display: inline-block;
    vertical-align: top;
  }
  
  li.article_title {
    margin-bottom: 4em;
    margin-top: 3em;
  }
  
  h2.article_title_list {
	  margin-top: -0.75em;
  }
  
  h2.index {
    margin-top: -0.75em;
  }
  
  h4.date {
    margin-top: -1.5em;
  }
  
  .single {
		padding-top: 0em;
	}
  
  section {
    padding: 2em;
    margin: auto;
    max-width: 35em;
  }
  
  section.last {
    padding-bottom: 2em;
  }
  
  .signup_footer {
	  margin-top: 0em;
  }
  
  .eu_icon {
		width: 3.5em;
		height: 3.5em;
		padding: -1em 0.87em 0.5em 0em;
	}
  
  p {
		max-width: 62ch;
	}

	li:not(.article_title) {
		max-width: 55ch;
	}
	
	.index {
    float: left;
		height: 100%;
	}

	a.logo:hover {
		text-decoration: underline;
	}

	a.article_title:hover {
		color: #4286f4;
		text-decoration: underline;
	}
	
  .signup {
    padding-top: 2.1em;
  }
  
  form.form-inline {
  overflow: revert;
  }

  input[type=submit].md {
    display: none;
  }
  
  input[type=submit].lg {
		display: block;
		transition: .2s ease-in-out;
		
	}
	
	input[type=email] {
	float:left;
	min-width: 12.035em;
		transition: .2s ease-in-out;
	}

	input[type=text] {
	float:left;
	min-width: 12.035em;
		transition: .2s ease-in-out;
	}

	input[type=text]:focus {
	min-width: 16em;
		transition: .2s ease-in-out;
	}

	input[type=email]:focus {
	min-width: 16em;
		transition: .2s ease-in-out;
	}

	input[type=submit] {
		min-width: 7em;
		max-width: 7em;
		transition: 0.8s ease-in-out;
	}

  
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


